.navbar {
  width: 100%;
  padding: var(--mantine-spacing-md);
  display: flex;
  flex-direction: column;
  transition: width 0.2s ease;
  position: relative;
  overflow: visible;
}

.navbar[data-expanded] {
  width: 240px;
}

.link {
  width: 50px;
  height: 50px;
  border-radius: var(--mantine-radius-md);
  display: flex;
  align-items: center;
  padding: var(--mantine-spacing-xs);

  color: var(--mantine-color-gray-8);
  transition: width 0.2s ease, background-color 0.2s ease;
  position: relative;
  overflow: hidden;

  &[data-expanded] {
    width: 100%;
  }

  &:hover {
    background-color: light-dark(
      var(--mantine-color-gray-0),
      var(--mantine-color-dark-5)
    );
  }

  &[data-active] {
    &,
    &:hover {
      background-color: var(--mantine-primary-color-light);
      color: var(--mantine-primary-color-filled);
    }
  }
}

.linkIcon {
  min-width: 20px;
  margin-right: var(--mantine-spacing-sm);
  margin-left: 5px;
}

.linkText {
  white-space: nowrap;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.2s ease, visibility 0.2s ease;
  margin-left: var(--mantine-spacing-sm);
  position: absolute;
  left: 45px;
  font-size: var(--mantine-font-size-sm);
}

.linkText[data-expanded] {
  opacity: 1;
  visibility: visible;
}

.toggleButton {
  position: absolute;
  right: -12px;
  top: 10%;
  transform: translateY(-50%);
  width: 24px;
  height: 24px;
  border-radius: 50%;
  color: var(--mantine-color-gray-8);
  background-color: var(--mantine-color-white);
  cursor: pointer;
  box-shadow: var(--mantine-shadow-sm);
  z-index: 1;
}

.toggleButton:hover {
  background-color: light-dark(
    var(--mantine-color-gray-0),
    var(--mantine-color-dark-5)
  );
}

.navbarMain {
  flex: 1;
}
